.bestseller {
    border-radius: 50%;
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 15%;
    height: 10%;
    opacity: 5;
  
  }
  
  .bestseller:hover {
      border-color: #e0dede;
  }
  