.container {
    padding: 80px 120px;
  }
  

.carousel-inner img {
    width: 35%; /* Set width to 100% */
    margin: auto;
   
  }
  
  .carousel-caption  {
    color: #d82424 !important;
  }
  
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
 
  .topContainer{
    display: flex;
    flex-direction: row;
  }
  .category {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 20%;
    height: 50%;
    opacity: 2;
    border-radius: 5px;
  
  }
  .category:hover{
     border-color: #e0dede;
    
  }